#game-ct { 
    width: 400px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid #333;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
  }
  #game-ct > li {
    list-style-type: none;
    padding: 0;
  }
  #game-ct > li > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: contents;
  }
  #game-ct li > ul > li {
    width: 100%;
    height: 50px;
    list-style-type: none;
  }
  #game-ct li:nth-child(odd) li:nth-child(even),
  #game-ct li:nth-child(even) li:nth-child(odd) {
    background-color: #b58863;
  }
  #game-ct li:nth-child(even) li:nth-child(even),
  #game-ct li:nth-child(odd) li:nth-child(odd) {
    background-color: #f0d9b5;
  }



.piece {
    background-image: url('/images/chess_sprite_transparent.png');
    background-repeat: no-repeat;
    background-size: 600% 200%;
}


.white.king {
    background-position: -9px 0;
}

.black.king {
    background-position: -9px -50px;
}


.white.queen {
    background-position: -55px 0;
}

.black.queen {
    background-position: -55px -50px;
}

.white.bishop {
    background-position: -103px 0;
}

.black.bishop {
    background-position: -103px -50px;
}

.white.knight {
    background-position: -152px 0;
}

.black.knight {
    background-position: -152px -50px;
}

.white.rook {
    background-position: -198px 0;
}

.black.rook {
    background-position: -198px -50px;
}

.white.pawn {
    background-position: -247px 0;
}

.black.pawn {
    background-position: -247px -50px;
}

.piece {
    width: 100%;
    height: 100%;
}

.piece.selected {
    box-shadow: 0 0 10px 3px rgba(0, 255, 0, 0.7);
    transform: scale(1.1);
    transition: all 0.3s ease;
    z-index: 10;
}

.piece.selected::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    pointer-events: none;
}


